.wrapper  
  .main_chat
    .main_chat__group-info
      .header-leftbox
        .current-group
          =  @group.name
        .member-list
          -  @group.users.each do |user|
            = user.name
      .group__info__edit-btn
        = link_to edit_group_path(@group.id), class: "contents__btn" do
          Edit 
    .main_chat__message-list
      .messages
        = render @messages
    .main_chat__message-form
      .form
        = form_for [@group, @message], html: { class: "input-box"} do |f|
          .input-box
            = f.text_field :content, class: 'form__message', placeholder: 'type a message'
            .form__mask
              = f.label :image, class: 'form__mask__image' do
                = icon('fas', 'image', class: 'icon')
                = f.file_field :image, class: 'hidden'
          = f.submit 'Send', class: 'form__submit'

