.wrapper
  .side_bar
    .side_bar__user-name
      .top-items
        .top-items__name
          = current_user.name
        .top-items__icon
          = link_to new_group_path do
            = icon('fas', 'edit', class: 'contents__btn1')
          = link_to edit_user_path(current_user.id) do 
            = icon('fas', 'cog', class: 'contents__btn2')
    .side_bar__groups-list
      - current_user.groups.each do |group|
        .group-list
          = link_to group_messages_path(group) do
            .group-name
              = group.name
            .latest-message
              = group.show_last_message
        